.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.61);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup_content {
	background-color: rgb(0, 204, 255);
	color: rgb(0, 0, 0);
	max-width: 65%;
	padding: 30px;
	position: relative;
}

.popup_close {
	text-decoration: none;
	color: rgb(255, 0, 0);
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}

.popup_title {
	font-size: 25px;
	margin: 0px 0px 5px 0px;
}

.popup_text {
	font-size: medium;	
}

.popup_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.Revision {
	width: 100%;
	max-width: 300px ;
}

.disclaimer {
	visibility: hidden;
}

@font-face {
	font-family: "Exo2-Medium";
	src: url("../fonts/Exo2-Medium.ttf");
}
@font-face {
	font-family: "Exo2-MediumItalic";
	src: url("../fonts/Exo2-MediumItalic.ttf");
}
@font-face {
	font-family: "Exo2-Bold";
	src: url("../fonts/Exo2-Bold.ttf");
}
@font-face {
	font-family: "Exo2-BoldItalic";
	src: url("../fonts/Exo2-BoldItalic.ttf");
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("../img/white-needle.png");
}
#block-body {
    width: 100%;
    margin: 5px auto;
    height: auto;
}
header {
   width: 100%; 
   height: 80px;
   background-color: black;
}
#block-content {
    width: 100%;
    height: auto;
    min-height: 500px;
}
.logo {
    width: 200px;
    float: left;
    height: 80px;
}
.logo a {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
    font-family: "Exo2-Bold", sans-serif;
    font-size: 28px;
    color:  #b2aeb2;
    text-decoration: none;
    cursor: pointer;
}
.use {
    color: #ae0000;
    
}
.web {
    color: #00469b; 
}
.logo p {
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 5px;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 13px;
    color: white;
}
.top-menu {
    width: 685px;
    height: 80px;
    float: left;
}
.top-menu ul li {
    list-style: none;
    float: left;
    text-align: center;
}
.top-menu ul li a {
    display: block;
    width: 171px;
    text-decoration: none;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 17px;
    color: white;
    height: 55px;
    padding-top: 25px;
    cursor: pointer;
}
.top-menu ul li a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    background: #00ADE4;
}
.block-top-auth {
    width: 100px;
    float: left;
    margin-left: 40px;
    height: 80px;
}
.block-top-auth p {
    margin-top: 12px;
    text-align: center;
    margin-bottom: 8px;
    
}
.block-top-auth a {
    text-decoration: none;
    color: white;
    font-family:  "Exo2-Medium", sans-serif;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.block-top-auth a:hover {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition:all 0.5s ease;
    -moz-transition:all 0.5s ease;
    color: #00ADE4;
}

.body {
	background-color : #5a5a5a;
}