    table { 
    font-family: sans-serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 5px;
    background: #996506;
    color: #18171C;
    border: 6px solid #000000;
    border-radius: 20px;
    margin-left: -5px;
}
   th {
      font-size: 16px;
      padding: 5px;
}
   td {
      background: #FFC618;
      padding: 3px;
}
   
.link {
	-webkit-tap-highlight-color: transparent;
}

.messenger {
	-webkit-tap-highlight-color: transparent;
}

.body {
	background-color : #5a5a5a;
}

.onesloi table{
   font-family: sans-serif;
   text-align: center;
   border-collapse: separate;
   border-spacing: 5px;
   background: #ff0000;
   color: #18171C;
   border: 6px solid #00ff0d;
   border-radius: 20px;
}

.link img {
   max-width: 145px;
   height: 55px;
   margin-left: 5px;
}

.messenger img {
	width: 3%;
	min-width: 45px;
	margin-right: 10px;
	margin-left: 10px;	
}

.Zagolovok {
	margin: 0px;
	-webkit-tap-highlight-color: transparent;
	font-family: sans-serif;
}

.Zagolovok23 {
    -webkit-tap-highlight-color: transparent;
    margin-top: 4px;
    font-size: 32px;
    font-family: sans-serif;
}

.Otstup {
	margin: 0;
}

.disclaimer {
	visibility: hidden;
}