.link img {
    max-width: 145px;
    height: 55px;
    margin-left: 5px;
}

.link {
	-webkit-tap-highlight-color: transparent;
}

.messenger img {
	width: 3%;
	min-width: 45px;
	margin-right: 10px;
	margin-left: 10px;		
}

.messenger {
	-webkit-tap-highlight-color: transparent;
}

.body {
	background-color : #5a5a5a;
}

.data1 {
	font-size: 15px;
}

a.data {
	color: white;
	text-decoration: none;
}
a.data:hover {
text-decoration: underline;	
}


hr {
	color: red;
	height: 3px;
}

.back {
	color: white;
	text-decoration: none;
	font-size: 30px;
}

.Back {
	margin-bottom: 20px;
    margin-top: 12px;
}

a.facebook {
	text-decoration: none;
	color: rgb(0, 0, 181);
}

a.vk {
	text-decoration: none;
	color: rgb(43, 139, 218);
}

a.telegramm {
	text-decoration: none;
	color: rgb(87, 179, 255);
}

.vkvideo {
	width: 100%;
	max-width: 600px;
    max-height: 300px;
}

#hr1 {
    color: red;
    height: 3px;
    margin-top: 47px;
}

.next {
	text-decoration: none;
	color: white;
	float: right;
}

.previous {
	text-decoration: none;
	color: white;
}

.photo img {
	width: 100%;
    max-width: 400px;
}

.photo8 img {
	width: 49%;
    max-width: 200px;
    height: 250px;
}

.Zagolovok {
	margin: 0px;
	-webkit-tap-highlight-color: transparent;
	font-family: sans-serif;
}

.Zagolovok23 {
    -webkit-tap-highlight-color: transparent;
    margin-top: 4px;
    font-size: 32px;
    font-family: sans-serif;
}

.Otstup {
    margin-bottom: 6px;
    margin-top: -8px;
}


.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.61);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup_body {
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}

.popup_content {
	background-color: rgb(177, 165, 0);
	color: rgb(0, 0, 0);
	max-width: 65%;
	padding: 30px;
	position: relative;
}

.popup_close {
	text-decoration: none;
	color: rgb(255, 0, 0);
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
}

.popup_title {
	font-size: 25px;
	margin: 0px 0px 5px 0px;
}

.popup_text {
	font-size: medium;	
}

.popup_area {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.Revision {
	width: 100%;
	max-width: 300px ;
}

.schrift {
	font-family : sans-serif;
	font-size: 105%;
	color: rgb(0, 0, 0);
}

.vopros {
	color: rgb(170, 255, 0);
}

.otvet {
	color: rgb(0, 255, 229);
}

.razdels {
	margin-bottom: 0px;
    margin-top: 32px;
}

.disclaimer {
	visibility: hidden;
}